:root {
  --base-font-size: 20px;
  --scrollbar-width: calc(100vw - 100%);
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.6em;
  font-size: var(--base-font-size);
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--inverse-color);
  color: var(--text-color);
}

h1 {
  font-size: 2em;
}

.display-small {
  visibility: visible;
  @media (min-width: 1320px) {
    visibility: hidden;
  }
}

.display-large {
  visibility: hidden;
  @media (min-width: 1320px) {
    visibility: visible;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a, .glow {
  color: var(--primary-color);
  transition: color 0.35s;
  text-decoration: none;

  &:hover {
    color: var(--text-color);
  }
}

::selection {
  background: rgba($primary-color, 0.33);
}
::-moz-selection {
  background: rgba($primary-color, 0.33);
}

footer {
  p {
    margin: 0.2em auto;
  }
}

.no-select {
  user-select: none;
}
