.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.25em solid var(--text-80-transparent);
  border-radius: 0.5em;
  border-radius: 0.5em;
  color: var(--text-80-transparent);
  padding: 1em;
  margin: 1em auto;

  &.large {
    font-size: 1.25em;
  }

  &.largest {
    font-size: 1.5em;
  }

  .aside-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .aside-header {
      flex: 0;
      text-align: center;
    }
    .aside-inner-content {
      flex: 1;
      text-align: left;
      color: var(--text-80-transparent);
    }
  }

  svg {
    height: 2em;
    width: 2em;
    margin-right: 0;
  }

  @media (min-width: 1320px) {
    flex-direction: row;

    .aside-content {
      border-left: thin solid var(--text-80-transparent);
      padding-left: 1em;

      .aside-header {
        text-align: left;
      }
    }

    svg {
      margin-right: 1em;
    }
  }
}
