.terminal-output {
  width: 100%;
  background-color: $darkest-color;
  border-left: 0.5em solid $primary-color;
  border-radius: 0.25em;

  pre {
    padding: 0.5em;
  }

  .simplebar-content::before,
  .simplebar-content::after {
    content: '';
  }
}

.terminal-input {
  background-color: $dark-color;
  @media (prefers-color-scheme: dark) {
    background-color: $darkest-color;
  }
  border-radius: 0.25em;
  border-left: 0.5em solid $primary-color;
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  table {
    padding: 0.25em 0;
  }
}

.terminal-signifier {
  width: 1em;
  code {
    color: $primary-color;
    margin-right: 0.25em;
  }
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: $monofont, monospace;
  font-size: 1em;
  color: $dark-color;
  @media (prefers-color-scheme: dark) {
    color: rgba($light-color, 0.8);
  }
}

td:first-of-type pre {
  user-select: none;
}

pre {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
  background-color: $dark-color;
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $darkest-color;
  }

  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-size: 0.8em;
    color: rgba($light-color, 0.8);
  }
}

.highlight-copy-btn {
  svg {
    width: 1em;
    height: 1em;
  }
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: $dark-color;
  background-color: rgba($light-color, 0.5);
  min-width: 3em;
  padding: 0.5em;
  text-align: center;
}

.highlight-copy-btn:hover {
  background-color: $light-color;
}

.highlight {
  border-left: 0.5em solid rgba($primary-color, 0.8);
  border-radius: 0.25em;
}

.highlight {
  margin: 1em 0;
}

.highlight-label-wrapper {
  .highlight {
    margin: 0;
  }

  margin: 1em 0;
}

.highlight > pre,
.highlight > div {
  padding: 0.5em 1em;
}

.highlight .simplebar-content-wrapper,
.highlight .simplebar-offset {
  background-color: $darkest-color;
}

.simplebar-scrollbar::before {
  background-color: $light-color;
}
