.emphasize {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.25em solid $primary-color;
  border-radius: 0.5em;
  border-radius: 0.5em;
  color: $primary-color;
  padding: 1em;
  margin: 1em auto;

  &.large {
    font-size: 1.25em;
  }

  &.largest {
    font-size: 1.5em;
  }

  .emphasize-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .emphasize-header {
      flex: 0;
      text-align: center;
    }
    .emphasize-inner-content {
      flex: 1;
      text-align: left;
      color: var(--text-color);
    }
  }

  svg {
    height: 2em;
    width: 2em;
    margin-right: 0;
  }

  @media (min-width: 1320px) {
    flex-direction: row;

    .emphasize-content {
      border-left: thin solid $primary-color;
      padding-left: 1em;

      .emphasize-header {
        text-align: left;
      }
    }

    svg {
      margin-right: 1em;
    }
  }
}
