.post-title {
  color: var(--text-color);
  line-height: 1.6em;
}

.heading {
  align-items: center;

  a {
    svg {
      width: 1em;
      height: 1em;
    }
    padding-left: 1em;
    display: inline-block;
    color: rgba($primary-color, 0.2);
  }

  &:hover {
    a {
      color: rgba($primary-color, 1);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    margin: 0;
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2em;
  }

  &:first-child h1,
  &:first-child h2,
  &:first-child h3,
  &:first-child h4,
  &:first-child h5,
  &:first-child h6 {
    margin-top: 0;
  }
}

.post {
  max-width: 720px;
}

.post-content {
  max-width: 720px;

  flex: 1;

  p {
    text-align: justify;
  }

  img {
    max-width: 100%;
  }
}

.post-meta {
  font-size: 0.8em;
  margin-bottom: 4em;
  padding-bottom: 1em;
  border-bottom: thin solid rgba($primary-color, 1);
}
