{{ with (trim .Inner "\n\r") }}
{{ $lines := split . "\n" }}
<div class="terminal-input-container">
    <div class="icon-label"><i data-feather="terminal"></i><span>{{ i18n "command" (len $lines) }}</span></div>
    <div class="terminal-input">
        <div class="terminal-input-wrapper">
            <table>
            {{ range $lines }}
            <tr>
                <td class="no-select terminal-signifier"><code>$</code></td>
                <td class="terminal-command"><pre><code>{{- printf "%s" . -}}</code></pre></td>
            </tr>
            {{ end }}
            </table>
        </div>
    </div>
</div>
{{ end }}